<h1>All cocktails</h1>

<p><% @cocktails.each do |cocktail| %></p>
<p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
<p><% end %></p>

<%= link_to 'Add a new cocktail', new_cocktail_path %>

